---
import { HeroSlider1, HeroSlider3, HeroSlider2 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout
  title="Marichi 2000 de Puebla | Inicio"
  description="Servicio las 24 horas los 365 días del año"
>
  <main class="page-content">
    <Hero
      client:load
      heroType="fullPageSlider"
      data={[
        {
          subtitle: "Mariachi 2000 de Puebla",
          title: "Servicios",
          background: HeroSlider1.src,
          paragraph: "Serenatas y servicios por hora. ",
          button: {
            text: "Mas...",
            link: "https://codexcode.store/themes/cybernetic-website-template",
          },
        },
        {
          subtitle: "Mariachi 2000 de Puebla",
          title: "Contrataciones",
          background: HeroSlider2.src,
          paragraph: "",
          button: {
            text: "Informes",
            link: "/infinite",
          },
        },
        {
          subtitle: "Mariachi 2000 de Puebla",
          title: "Nosotros",
          background: HeroSlider3.src,
          paragraph:
            "El Mariachi 2000 de Puebla se distingue por complacer y consentir a sus clientes interpretando las canciones del agradado de cada uno de ellos. Desde eventos familiares, empresariales y culturales estamos para amenizar y ambientar las fiestas.",
          button: {
            text: "Ver",
            link: "/infinite",
          },
        },
        {
          subtitle: "Mariachi 2000 de Puebla",
          title: "Fotos y video",
          background: HeroSlider3.src,
          paragraph: "",
          button: {
            text: "Ver...",
            link: "/infinite",
          },
        },
        {
          subtitle: "Mariachi 2000 de Puebla",
          title: "Contacto",
          background: HeroSlider3.src,
          paragraph: "",
          button: {
            text: "Contacto",
            link: "/infinite",
          },
        },
      ]}
    />
  </main>
</Layout>
