---
import { HeroSlider1, HeroSlider3 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout
  title="Marichi 2000 de Puebla | Inicio"
  description="Servicio las 24 horas los 365 días del año"
>
  <main class="page-content">
    <Hero
      client:load
      heroType="fullPageSlider"
      data={[
        {
          subtitle: "Mariachi 2000 de Puebla",
          title: "Servicios",
          background: HeroSlider1.src,
          paragraph:
            "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
          button: {
            text: "Informes",
            link: "https://codexcode.store/themes/cybernetic-website-template",
          },
        },
        {
          subtitle: "Mariachi 2000 de Puebla",
          title: "Fotos",
          background: HeroSlider3.src,
          paragraph: "",
          button: {
            text: "Informes",
            link: "/infinite",
          },
        },
        {
          subtitle: "Mariachi 2000 de Puebla",
          title: "Videos",
          background: HeroSlider3.src,
          paragraph: "",
          button: {
            text: "Informes",
            link: "/infinite",
          },
        },
      ]}
    />
  </main>
</Layout>
