---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import {
  HeroSlider3,
  InfiniteImg1,
  InfiniteCumple,
  InfiniteSerenata,
  InfiniteImg2,
  ServiciosImg,
} from "@static/images";
import { ServiceCards } from "@modules/ServiceCards";
import { Footer } from "@modules/Footer";
---

<Layout title=" Homepage" description="YOUR META DESCRIPTION FOR SEO">
  <main class="page-content">
    <Hero
      heroType="ParallaxImage"
      client:visible
      data={{
        image: ServiciosImg.src,
        content: {
          title: "SERVICIOS",
          paragraph:
            "Si buscas mariachis de la ciudad de Puebla y Cholula, te ofrecemos variedad en precios de nuestros servicios diseñados para toda clase de eventos sociales; serenatas, bodas, XV años, comuniones, graduaciones, bautizos, aniversarios, despedidas, cumpleaños, misas y reuniones empresariales.",
        },
      }}
    />
    <ServiceCards
      description="SERVICIOS"
      title="Te ofrecemos los siguientes servicios:"
      client:visible
      cards={[
        {
          title: "Por hora",
          description: "Alreddor de 10-12 canciones por cada hora de servicio.",
        },
        {
          title: "Serenata",
          description: "Consta de 7 canciones.",
        },
        {
          title: "Contrato",
          description: "Contratos por 5 horas o más pueden ser agendados.",
        },
        // {
        //   title: "Cyber - Development",
        //   description: "lorem ipsum lorem ipsum lorem ipsum lorem ipsum .",
        // },
        // {
        //   title: "Cyber - Security",
        //   description: "lorem ipsum lorem ipsum lorem ipsum lorem ipsum .",
        // },
        // {
        //   title: "Cyber - Marketing",
        //   description: "lorem ipsum lorem ipsum lorem ipsum lorem ipsum .",
        // },
      ]}
    />

    <Hero
      heroType="textImage"
      client:visible
      data={{
        image: {
          src: InfiniteCumple.src,
          width: 590,
          height: 300,
          alt: "Cumple Image",
        },
        title: "¡Vamos a disfrutar de un buen momento!",
        paragraph:
          "Te brindamos la mejor experiencia y el mejor regalo inolvidable que puedes llevar a una pachanga.",
      }}
    />
    <Hero
      heroType="textImage"
      client:visible
      data={{
        switchPlaces: true,
        image: {
          src: InfiniteSerenata.src,
          width: 590,
          height: 300,
          alt: "Serenata Image",
        },
        title: "¡Enamorala con el mejor detalle!",
        paragraph:
          "Sorprende a la persona más importante de tu vida o tus seres queridos acompañado con las serenatas del Mariachi.",
      }}
    />
  </main>
  <Footer />
</Layout>
